<link rel="stylesheet" href="{{ 'custom-section.css' | asset_url }}" media="print" onload="this.media='all'">
<!-- 
{{ section.settings.custom_liquid }}
 -->

 
<div class="spacer layer1 {% unless section.settings.full_width %}page-width{% endunless %}">
</div>

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
