<link rel="stylesheet" href="{{ 'flipped-spacer.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="spacer layer1 flipped {% unless section.settings.full_width %}page-width{% endunless %}">
</div>

{% schema %}
  {
    "name": "t:sections.custom-liquid.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
