<link rel="stylesheet" href="{{ 'custom-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="spacer layer1 {% unless section.settings.full_width %}page-width{% endunless %}">
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
