<link rel="stylesheet" href="{{ 'flipped-spacer.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="spacer layer1 flipped {% unless section.settings.full_width %}page-width{% endunless %}">
</div>

{% schema %}
  {
    "name": "Flipped Spacer",
    "settings": [
      {
        "id": "flipped_spacer_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "flipped_spacer_body",
        "type": "custom_liquid",
        "label": "Add custom text",
        "default": ""
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
